.w3-theme {color:#fff !important;background-color:#607d8b !important}
.w3-theme-light {color:#000 !important;background-color:#eceff1 !important}
.w3-theme-dark {color:#fff !important;background-color:#263238 !important}
.w3-text-theme {color:#607d8b !important}
.w3-theme-l5 {color:#000 !important;background-color:#eceff1 !important}
.w3-theme-l4 {color:#000 !important;background-color:#cfd8dc !important}
.w3-theme-l3 {color:#000 !important;background-color:#b0bec5 !important}
.w3-theme-l2 {color:#000 !important;background-color:#90a4ae !important}
.w3-theme-l1 {color:#fff !important;background-color:#78909c !important}
.w3-theme-d1 {color:#fff !important;background-color:#546e7a !important}
.w3-theme-d2 {color:#fff !important;background-color:#455a64 !important}
.w3-theme-d3 {color:#fff !important;background-color:#37474f !important}
.w3-theme-d4 {color:#fff !important;background-color:#263238 !important}
.w3-theme-action {color:#fff !important;background-color:#37474f !important}
body{
    background-color: #cfd8dc;
}
#loading{
    position: fixed;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ffffff  url("../img/loader.gif") no-repeat center;
    background-size: auto;
}
#toolbar{
    position: fixed;
    left: 0;
    width: 100px;
    top: 0;
    bottom: 0;
    background-color: #455a64;
    color:#ffffff;
}
#icon{
    cursor: pointer;
    margin-bottom: 20px;
    height: 50px;
    width: 100px;
    color: #ffffff;
    font-size: 50px;
}
#icon a{
    margin-left: 20px;
    font-size: 50px;
    color: #ffffff;
    width: 100px;
}
#icon a:hover{
    color: #90a4ae;
}
#toolbar .tool{
    text-align: center;
    background-color: #455a64;
    border-radius: 10px;
    color: #ffffff;
    cursor: move;
    margin-bottom: 20px;
}
#toolbar .tool:hover{
    background-color: #90a4ae;
}
#save{
    position: absolute;
    text-align: center;
    width: 100px;
    background-color: #455a64;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    bottom: 30px;
}
#save:hover{
    background-color: #90a4ae;
}
#transformer{
    position: absolute;
    text-align: center;
    width: 100px;
    height: 30px;
    background-color: #455a64;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    bottom: 0px;
}
input{
    width: 40px;
    background-color: #455a64;
    border: solid 1px #90a4ae;
    text-align: center;
}
#add{
    position: absolute;
    bottom: 80px;
    cursor:pointer;
    width: 100px;
    height: 50px;
    background-color: #455a64;
}
#add span{
    width: 100%;
    font-size: 40px;
    text-align: center;
}
#add span:hover{
    color:#90a4ae;
}
#hd-bg-color,#hd-slide-color{
    cursor: pointer;
}
#bg-color{
    position: absolute;
    left: 100px;
    margin-top: -100px;
    width: 300px;
    display: none;
}
#bg-slide{
    position: absolute;
    left: 100px;
    margin-top: -100px;
    width: 300px;
    display: none;
}
#toolbar .btn-group{
    background-color: #ffffff;
}

#editor-handle{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: #455a64;
    color: #ffffff;
    border-top-left-radius: 10px;
    cursor: pointer;
}
#editor-css{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 50%;
    width: 30%;
    background-color: #455a64;
    color: #ffffff;
    border-top-left-radius: 10px;
    cursor: pointer;
    display: none;
}
#editor-css-pre{
    color: #000000;
    width: 100%;
    height: 100%;
}

#content #input{
    position: fixed;
    top:0;
    bottom: 50px;
    left: 0;
    right:0;
    width:100%;
    height: 100%;
}
#content #import{
    position: fixed;
    bottom: 0;
    left: 0;
    width:30%;
    height: 50px;
    color: #ffffff;
}
#content #export{
    position: fixed;
    bottom: 0;
    right: 0;
    width:30%;
    height: 50px;
    color: #ffffff;
}